
header {
  text-align: center;
  text-shadow: 2px 2px 1px #222;
  font-size: 1.5em;
}


.menu {
  text-align: center;
}

footer {
  text-align: center;
}

/* Navbar with logo */

.headerContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #F2F2F2;
  padding: .3em 0;

  }


.logo {
   margin-left: 5%;
  }

.logo img {
   display: block;
  }

nav {
   margin: .5em 0 0 5%;
  }

header ul li {
   display: inline-block;
   padding: 0 1.4em 0 0;
   font-size: 1.3em;
   font-weight: bold;
  }

header ul li a {
   text-decoration: none;
   color: black;
  }

li a.active {
   color: #000000;
   border-bottom: 2px solid #000000;
   font-weight: 300;
  }

li a:hover {
   color:  #deb887;
   text-decoration: underline;
  }



/*flexbox*/
.container {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          }

.container div {
  margin: auto;
  padding: 2em;


}

.one, .two, .three, .four, .five, .six {
  height: auto;
  align-content: flex-start;
  width: 95%;
  border-top: 2px solid black;
}

.six {
  border-bottom: 2px solid black;
}

.one, .two, {
  flex-grow: 2
}


/* Sticky Footer via flexbox experiment*/

/*FOOTER IS NOT CURRENTLY STICKING IN CHROME BUT IT IS IN FIREFOX--fixed this by making footer part of the flexbox so the css below isn't needed:

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer {
 margin-top: auto;
}
.content {
  flex: 1 0 auto;
  min-height: calc(100vh - 89px);
  }

/*AJAX Barber Availability Response*/

.CheckCurrentAvailability {
  border-radius: 3px;
  width: auto;
}

ul {
  list-style: none;
}


  ul.bulleted .available {
    color: black;
  }
  ul.bulleted .available:before {
    content: "Available";
    background-color: #5fcf80;
    padding: 3px 2px 2px;
    border-radius: 2px;
    text-align:center;
    width: 25px;
    margin: 1.5em;
  }
  ul.bulleted .unavailable {
    color: black;
  }
  ul.bulleted .unavailable:before {
    content: "Unavailable";
    background-color: #ed5a5a;
    padding: 3px 2px 2px;
    border-radius: 2px;
    text-align:center;
    width: 25px;
    margin: 1.5em;
  }

/* -----------------------------------------------*/
  ul.bulleted {
    margin-bottom: 30px;
  }

  ul.bulleted li {
    padding-left: 40px;
  }

/*Google Maps API Map style*/

#location {
  width: 60%;
  height: 20em;
  border-radius: 3px;
  position: fixed;

}

/*background images and styles */

#containerBackground {
  background-image: url('images/razorandbrush.jpg');
  background-size: cover;
  background-position: top;
  color: black;
  text-shadow: 1px 1px .5px #deb887;
  }

#specialsBackground {
  background-image: url('images/brushes.jpg');
  background-size: cover;
  background-position: top;
  color: black;
  text-shadow: 1px 1px .5px #deb887;
}

#staffBackground {
  background-image: url('images/razor.jpg');
  background-size: cover;
  background-position: top;
  color: black;
  text-shadow: 1px 1px .5px #deb887;
}

/*background for header commented out in favor of clean white background
header {
  background-image: url('../plaster.jpg');
  background-size: cover;
  background-position: top;
  padding: 0;
}      ------*/

/*font family*/
body, button {
  font-family: "Courier New", Monaco, monospace;
}

/*Media Queries (mobile first / responsive web design/if/when nothandled bu using flexbox)*/


@media (min-width: 769px) {

  /* navigation with logo */
.headerContainer {
  flex-direction: row;
  justify-content: space-between;
}

.logo {
   margin-left: 2.3em;

 }

 nav {
   align-self: center;
   margin: 0 0.8em 0 0;
 }


}

@media (min-width: 1025px) {

}
